   
/*barra de navegacion*/
*{
	margin: 0;
	padding: 0;
	border:0;
	font-size:100%;
	vertical-align: baseline;
}
.navegacion a.active {
    background-color: #E0E0E0; /* Cambia el color de fondo a lo que prefieras */
}

body {
	font-family: Arial, sans-serif;

    }
.cuadrado-vacio {
  display: inline-block;
  padding: 3px; /* Ajusta el tamaño del cuadrado */
  border: 2px solid white;
  margin: 6px; /* Espacio alrededor del cuadrado */
  font-size: 20px; /* Tamaño del texto */
  line-height: 1; /* Ajusta la altura del cuadrado */
  color: fff;
  align-items: center;
  
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagen{
	margin-top:15px;
	width:30px;
	margin-right:10px;
}
.head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background: #2c3e50;
	
	width: 100%;
	z-index: 100;
}

.navegacion{
	display:flex;
	margin-right: 10px;
	align-items: center;
}

.logo{
	margin-left:50px;
	
}
.logo a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	user-select: none;
	font-size: 60px;
	cursor: pointer;
}
	
.navegacion a{
	display: block;
	padding: 23px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	 align-items: center;
}

.navegacion  a:hover {
	background: transparent;
	
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header{
	height: 8vh !important;
	background: #fff;
}


/*Cuadrado de contactar*/

.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #ab4493; 
  border-color: #ab4493; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 40px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #ab4493;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


