*{
	margin: 0;
	padding: 0;
	border:0;
	font-size:100%;
	vertical-align: baseline;
}
html {
	overflow-x: hidden; /*"hidden" significa que cualquier contenido que se desborde horizontalmente (es decir, que sea más ancho que el contenedor) será ocultado*/
}

body {
	font-family: Arial, sans-serif;
	background-color: #ecf0f1;

   }
/*barra de navegacion*/
*{
	margin: 0;
	padding: 0;
	border:0;
	font-size:100%;
	vertical-align: baseline;
}

body {
	font-family: Arial, sans-serif;

    }
.cuadrado-vacio {
  display: inline-block;
  padding: 3px; /* Ajusta el tamaño del cuadrado */
  border: 2px solid white;
  margin: 6px; /* Espacio alrededor del cuadrado */
  font-size: 20px; /* Tamaño del texto */
  line-height: 1; /* Ajusta la altura del cuadrado */
  color: fff;
  align-items: center;
  
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
}
.imagen{
	margin-top:15px;
	width:30px;
	margin-right:10px;
}
.head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background: #2c3e50;
	position:fixed;
	width: 100%;
	z-index: 100;
}

.navegacion{
	display:flex;
	margin-right: 10px;
	align-items: center;
}

.logo{
	margin-left:50px;
	
}
.logo a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	user-select: none;
	font-size: 60px;
	cursor: pointer;
}
	
.navegacion a{
	display: block;
	padding: 23px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	 align-items: center;
}

.navegacion  a:hover {
	background: transparent;
	
}

.header{
	display: flex;
	justify-content: center;
	align-items: center;
}

.header{
	height: 8vh !important;
	background: #fff;
}

.title{
	margin-top: 100px;
	margin-bottom: 60px;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	color:#000000;
	
}

p{
	margin-bottom: 20px;
	font-size: 18px;
	color: #00000;
	padding: 0 100px;
	line-height: 1.5;
	
}


/*cuerpo*/

.hero {
    background: #50b3a2;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service {
    margin: 20px 0;
}

/*Pie de Pagina*/

.footer {
	background: #2c3e50; /* Color azul oscuro */
	color: white;
	padding: 20px;
	 /* Fijar el pie de página en la parte inferior */
	bottom: 0;
	width: 100%;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left-content p {
	margin: 5px 0;
	margin-left: 10px;
}
.right-content a {
	color: white;
	margin-left: 20px;
	text-decoration: none;
}
.right-content a:hover {
	text-decoration: underline;
}

.social-icons a i {
color: white; /* Cambiar el color de los iconos a blanco */
}

 .footer-content img {
            height: 60px; /* Ajustar el tamaño del logo */
        }
		