
/*Noticias*/

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
	margin-left: 70px;
	margin-right: 70px;
	margin-bottom: 70px;
}

.noticia {
    flex: 0 0 40%; /* Ajustar el ancho de cada noticia */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px 40px;
}
.noticia h2 {
    margin-top: 0;
    font-size: 24px;
}

.noticia p {
    margin-bottom: 10px;
	 line-height: 1.5;
}

.noticia img {
    width: 100%;
    border-radius: 5px;
}

.contenido {
    display: none; /* Ocultar el contenido por defecto */
}

.mostrar {
    display: block; /* Mostrar el contenido cuando la clase 'mostrar' está presente */
}

.leer-mas {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
}

.leer-mas:hover {
    text-decoration: underline;
}

		
@media screen(max-width:768px) {
	.title{
		margin-bottom: 10px;
		font-size: 40px;
	}
	.sau {
		height: 80vh;
	}
	.navbar {
		display:none;
	}
}
